################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DriverTest/x64/Debug
/.vs/loki-hidriver/v16
/KMDFDriver/x64/Debug
/x64/Debug
